# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.log.*

# Build artifacts
dist/
build/
coverage/
.tmp/
.cache/

# IDE / editor folders
.vscode/
.idea/

# OS and misc
*.swp
*.swo
